<mat-card class="resultForm mainFormLeft">
    <mat-card-header>
        <mat-card-title>ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ ПОБЛИЗУ ПОВЕРХНІ ЗЕМЛІ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td colspan="1">
                    <mat-form-field class="fullWidthField">
                        <mat-label>Питома провідність</mat-label>
                        <input matInput type="number" [(ngModel)]="conductivity" value="0">
                    </mat-form-field>
                </td>
                <td colspan="1">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="0.00001"
                        color="primary"
                        min="0"
                        [(ngModel)]="conductivity"
                        max="10"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td colspan="1">
                    <mat-form-field class="fullWidthField">
                        <mat-label>Діелектрична проникність</mat-label>
                        <input matInput type="number" [(ngModel)]="electricalPerneability" value="0">
                    </mat-form-field>
                </td>
                <td colspan="1">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="1"
                        color="primary"
                        min="0"
                        [(ngModel)]="electricalPerneability"
                        max="360"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table> -->
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td colspan="2">
                    <mat-form-field appearance="fill">
                        <mat-label>Вид підстилаючої поверхні</mat-label>
                        <mat-select [(value)]="earthSelected">
                          <mat-option *ngFor="let cond of earthType" [value]="cond.id">
                            {{cond.type}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>
        </table>
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Довжина хвилі</mat-label>
                        <input matInput type="number" [(ngModel)]="waveLength" value="0">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Одиниці виміру</mat-label>
                        <mat-select [(value)]="waveLengthMap">
                            <mat-option *ngFor="let vl of valuesMap" [value]="vl">
                                {{vl}}m
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="1"
                        color="primary"
                        min="0"
                        [(ngModel)]="waveLength"
                        max="1000"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Висота передавальної антени</mat-label>
                        <input matInput type="number" [(ngModel)]="transmitterHeight" value="0">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Одиниці виміру</mat-label>
                        <mat-select [(value)]="transmitterHeightMap">
                            <mat-option *ngFor="let vl of valuesMap" [value]="vl">
                                {{vl}}m
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="1"
                        color="primary"
                        min="0"
                        [(ngModel)]="transmitterHeight"
                        max="1000"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Висота приймальної антени</mat-label>
                        <input matInput type="number" [(ngModel)]="receiverHeight" value="0">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Одиниці виміру</mat-label>
                        <mat-select [(value)]="receiverHeightMap">
                            <mat-option *ngFor="let vl of valuesMap" [value]="vl">
                                {{vl}}m
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="1"
                        color="primary"
                        min="0"
                        [(ngModel)]="receiverHeight"
                        max="1000"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <!-- <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td colspan="1">
                    <mat-form-field class="fullWidthField">
                        <mat-label>Ширина діаграми спрямованості</mat-label>
                        <input matInput type="number" [(ngModel)]="directionalPatternWidth" value="0">
                    </mat-form-field>
                </td>
                <td colspan="1">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="1"
                        color="primary"
                        min="0"
                        [(ngModel)]="directionalPatternWidth"
                        max="360"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table> -->
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Довжина лінії</mat-label>
                        <input matInput type="number" [(ngModel)]="traceLength" value="0">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="fullWidthField">
                        <mat-label>Одиниці виміру</mat-label>
                        <mat-select [(value)]="traceLengthMap">
                            <mat-option *ngFor="let vl of valuesMap" [value]="vl">
                                {{vl}}m
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="1"
                        color="primary"
                        min="0"
                        [(ngModel)]="traceLength"
                        max="1000"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <mat-slide-toggle color="primary" [(ngModel)]="normalPolarization">{{standartParameterToggleLabel}}</mat-slide-toggle>
    </mat-card-content>
</mat-card>

<div class="graphElement">
    <canvas baseChart id="thirdCanvas1"></canvas>
</div>
<div class="graphElement">
    <canvas baseChart id="thirdCanvas2"></canvas>
</div>
<div class="graphElement">
    <canvas baseChart id="thirdCanvas3"></canvas>
</div>