<!-- <div style="display: block; width: 60%; margin-left: auto; margin-right: auto;">
  <canvas baseChart id="testCanvas"></canvas>
</div> -->
<mat-tab-group [selectedIndex]="defaultTab" dynamicHeight>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  У ВІЛЬНОМУ ПРОСТОРІ">
    <ng-template matTabContent>
      <firstlab-app></firstlab-app>
    </ng-template>
  </mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ОБЛАСТІ ПРОСТОРУ, ЯКА Є
  ІСТОТНОЮ ПРИ ПОШИРЕННІ РАДІОХВИЛЬ.
  ЗОНИ ФРЕНЕЛЯ">
    <ng-template matTabContent>
      <secondlab-app></secondlab-app>
    </ng-template>
  </mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  ПОБЛИЗУ ПОВЕРХНІ ЗЕМЛІ">
    <ng-template matTabContent>
      <app-thirdlab></app-thirdlab>
    </ng-template>
  </mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  У ТРОПОСФЕРІ">
    <ng-template matTabContent>
      <app-fourthlab></app-fourthlab>
    </ng-template>
  </mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  В ІОНОСФЕРІ">
    <ng-template matTabContent>
      5
    </ng-template>
  </mat-tab>
</mat-tab-group>