<mat-card class="resultForm mainFormLeft">
    <mat-card-header>
        <mat-card-title>ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ У ТРОПОСФЕРІ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td colspan="1">
                    <mat-form-field class="fullWidthField">
                        <mat-label>Кут від горизонту</mat-label>
                        <input matInput type="number" [(ngModel)]="horizontAngle" value="0">
                    </mat-form-field>
                </td>
                <td colspan="1">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="0.1"
                        color="primary"
                        min="0"
                        [(ngModel)]="horizontAngle"
                        max="360"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td colspan="1">
                    <mat-form-field class="fullWidthField">
                        <mat-label style="font-size: 16px;">Δε, 10<sup>-4</sup></mat-label>
                        <input matInput type="number" [(ngModel)]="delta" value="0">
                    </mat-form-field>
                </td>
                <td colspan="1">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="0.1"
                        color="primary"
                        min="0"
                        [(ngModel)]="delta"
                        max="1000"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <table class="fullWidthField fieldsTable" cellspacing="0">
            <tr>
                <td colspan="1">
                    <mat-form-field class="fullWidthField">
                        <mat-label style="font-size: 16px;">Градієнт, 10<sup>-8</sup></mat-label>
                        <input matInput type="number" [(ngModel)]="gradient" value="0">
                    </mat-form-field>
                </td>
                <td colspan="1">
                    <mat-slider class="fullWidthField"
                        thumbLabel
                        [displayWith]="showValue"
                        step="0.1"
                        color="primary"
                        min="0"
                        [(ngModel)]="gradient"
                        max="1000"
                        aria-label="units"></mat-slider>
                </td>
            </tr>
        </table>
        <mat-slide-toggle color="primary" [(ngModel)]="userStandartParameters">{{standartParameterToggleLabel}}</mat-slide-toggle>
    </mat-card-content>
</mat-card>

<div style="display: block; width: 40%; float: right; margin-right: 25px;">
    <canvas baseChart id="fourthCanvas1"></canvas>
</div>